/* header classes */ 
.header-background {
    background-color: rgba(255, 117, 117, 0.877);
}

.header-text {
    font-family: 'Source Code Pro'; 
}

.scary-text {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
}

/* body classes */
.rules-text {
    font-size: 15px; 
    font-family: 'Source Code Pro'; 
}

.display-none {
    display: none;
}

.display {
    display: block;
}

.choose-who-text {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
}

.question-text {
    display: inline-block;
}

.timer {
    margin-bottom: 0px;
}

.choices-class {
    font-size: 10px; 
    font-family: 'Source Code Pro';
}